@model Candidate
@{

}

@using (Html.BeginForm("AddCandidate", "Home", FormMethod.Post, new {id="formRegistration",enctype="multipart/form-data"}))  
{  
<div class="form-group">  
   <label for="First Name" class="col-md-3 control-label">Candidate Name</label>  
    <div class="col-md-9">  
      @Html.HiddenFor(x=>x.Id)
      @Html.TextBoxFor(x => x.CandidateName, "", new { @class = "form-control", placeholder = "Enter your name here" })  
    @Html.ValidationMessageFor(x => x.CandidateName,"",new{@class="text-danger"})
   </div>  
</div>  
<br/>  

<div class="form-group">  
   <label for="lastname" class="col-md-3 control-label">Image</label>  
<div class="col-md-9">  
   <input type="file" name="Image"/>
   @* @Html.TextBoxFor(x => x.Image, "", new { @class = "form-control", placeholder = "Upload your image here" })  
     @Html.ValidationMessageFor(x => x.Image,"",new{@class="text-danger"}) *@
</div>  
</div>  
<br/> 


<div class="form-group">  
   <label for="email" class="col-md-3 control-label">DOB</label>  
<div class="col-md-9">  
   @Html.TextBoxFor(x => x.Dob, "", new { @class = "form-control", placeholder = "Enter your date of birth" })  
   @Html.ValidationMessageFor(x => x.Dob,"",new{@class="text-danger"})
   </div>  
</div>  
<br/>  

<div class="form-group">  
   <label for="password" class="col-md-3 control-label">Address</label>  
<div class="col-md-9">  
   @Html.TextBoxFor(x => x.Address, new { @class = "form-control", placeholder = "Enter your address here" }) 
    @Html.ValidationMessageFor(x => x.Address,"",new{@class="text-danger"}) 
 
</div>  
</div>  
<br/>  

<div class="form-group">  
   <label for="contact" class="col-md-3 control-label">Mobile</label>  
<div class="col-md-9">  
   @Html.TextBoxFor(x => x.Mobile, new { @class = "form-control", placeholder = "Enter your Mobile number" })
   @Html.ValidationMessageFor(x => x.Mobile,"",new{@class="text-danger"}) 
   
</div>  
</div>  
<br />  
<div class="form-group">  
   <label for="contact" class="col-md-3 control-label">Email</label>  
<div class="col-md-9">  
   @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Enter your email" })
   @Html.ValidationMessageFor(x => x.Email,"",new{@class="text-danger"}) 
 
</div>  
</div> 
<br/>  

<div class="form-group">  
   <label for="tech" class="col-md-3 control-label">Technology</label>  
<div class="col-md-9">  
  
   @Html.DropDownListFor(m => m.Technology, 
            new SelectList(Enum.GetValues(typeof(tech))), 
            "Select Technology",new{@class="form-control"})
             @Html.ValidationMessageFor(x => x.Technology,"",new{@class="text-danger"} )  
</div>  
</div> 
<br/>  


<div class="form-group">  
   <label for="lastname" class="col-md-3 control-label">Resume</label>  
<div class="col-md-9">  
   <input type="file" name="Resume"/>
   @* @Html.TextBoxFor(x => x.Image, "", new { @class = "form-control", placeholder = "Upload your image here" })  
     @Html.ValidationMessageFor(x => x.Image,"",new{@class="text-danger"}) *@
</div>  
</div>  
<br/> 

@* <div class="form-group">  
   <label for="contact" class="col-md-3 control-label">Resume</label>  
<div class="col-md-9">  
   @Html.TextBoxFor(x => x.Resume , new { @class = "form-control", placeholder = "Add your resume here" })
   @Html.ValidationMessageFor(x => x.Resume ,"",new{@class="text-danger"}) 
  </div>  
</div> 
<br/>   *@

<div class="form-group">  
   <label for="contact" class="col-md-3 control-label">Description</label>  
<div class="col-md-9">  
   @Html.TextAreaFor(x => x.Description , new { @class = "form-control", placeholder = "Add description here..." })
   @Html.ValidationMessageFor(x => x.Description,"",new{@class="text-danger"} ) 
  
</div>  
</div> 
<br/>  

<div class="col-md-offset-3 col-md-9">
   <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i>Submit</button>
   <span style="margin-left:8px;"></span>
</div>

}  